body {
    margin: 0;
    height: 100svh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 25%;
    gap: 1rem;
    justify-content: center;
}

h1, .quantity {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
}